fastapi
uvicorn[standard]

jinja2
python-multipart

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface

chromadb

sentence-transformers
torch

openai

PyMuPDF

sqlalchemy

python-dotenv

pydantic
pydantic-settings

httpx

pytest

black
flake8

-e .